<header id="page-header">
    <h1 id="site-name" class="float-left">Conseil départemental du Val d'Oise</h1>
    <div id="logo" class="float-right">
        <img class="cvdo_logo pt-3 pb-2" src="{{ asset('build/images/logo.png') }}" alt="Conseil départemental du Val d'Oise">
    </div>
</header>